*{
	margin: 0;
	padding: 5;
	color:black;
}
html { 
	background-color: #b5b5b5; 
	color: black;

}
nav{
	width:100%;
	text-align: center;
	text-transform: uppercase;
	background-color: #eaeaea;
	position: fixed;
}

nav li{
	list-style-type: none;
	color: white;
}

nav li a{

	text-decoration: none;
	color: black;
	font-weight: bold;
}

#logo{
	margin: 10px 10px 1px 10px;
	float: left;
	width:auto;
	height: 50px;
}
div{
	border-style: solid;
}
#What{
	text-indent: 0px;
}
#BoxT,#HistT,#BoxE,#HistE,#BoxUR,#HistUR,#PareTo{
	margin-top: 15px;
	margin-left: 150px;
	width:70%;
}
p{

    margin-top: 20px;
    text-indent: 50px;
    margin-bottom: 20px;
}
h1,h3{
	text-align: center;
	padding: 20;
	margin-top: 13px;
}
li{
	margin-top: 2%;
}
a:hover{
	color: grey;
	font-weight: bold;
	font-size: 1.3em;
	padding: .2em;
	border-radius: 5px;
	text-decoration: none;
}
#nav1{
	background-color: gray;
	padding-bottom: 60px
}
#Why,#Citation,#Total,#Employed,#Unemployment_rate,#Pare_to{
	background-color:#e3e3e3;
	padding: 0px,20px,0,20px;
	border-style: solid;

}
.MQuote{

	text-indent: 50%;
	border-style: none;
	font-weight: bold;
	color:#3d3d66;
}
.Title{
	color:white;
	font-size: 30pt;
}
.Title,.Quote{
	text-align: center;
	font-weight: bold;
	background-color:none;
	border-style: none;
}
.MQuote, .Quote{
	font-size: 17pt;
	color:#6666ff;
}

#Education{
	background-image: url(https://www.alp-scs.ru/assets/images/Montazh%20SKS/LOM.jpg);
	background-size: cover;
	height: 20vh;
	padding: 50vh 0% 5% 1%;;

}

@media screen and (min-width: 600px){
	main{
	    margin: auto;
	    width: 70%;
	    border: 3px;
	    padding: 10px;
	}
}
